LETSENCRYPT_EMAIL=contact@example.com
TRAEFIK_DASHBOARD_HOST=traefik.alcines.com
TRAEFIK_DASHBOARD_USERS=admin:replace_with_htpasswd_hash
TZ=America/Los_Angeles

BELLAHBURGER_DOMAIN=bellahburger.com
BELLAHBURGER_REPO_URL=https://github.com/SilverBackDo/bellahburger.git
BELLAHBURGER_REPO_BRANCH=main
BELLAHBURGER_PUBLIC_SUBDIR=

DESIRSOLUTIONS_DOMAIN=desirsolutions.com
DESIRSOLUTIONS_REPO_URL=https://github.com/SilverBackDo/DesirSolutions.com.git
DESIRSOLUTIONS_REPO_BRANCH=main
DESIRSOLUTIONS_PUBLIC_SUBDIR=

ALCINES_DOMAIN=alcines.com
