COMPOSE_PROJECT_NAME={{ n8n_project_name }}
N8N_IMAGE={{ n8n_image }}
POSTGRES_IMAGE={{ n8n_postgres_image }}
N8N_DOMAIN={{ n8n_domain }}
N8N_HOST={{ n8n_domain }}
N8N_PROTOCOL=https
N8N_PORT=5678
N8N_EDITOR_BASE_URL={{ n8n_editor_base_url }}
WEBHOOK_URL={{ n8n_webhook_url }}
N8N_PROXY_HOPS={{ n8n_trust_proxy_hops }}
N8N_PATH={{ n8n_path }}
N8N_RUNNERS_ENABLED=true
N8N_SECURE_COOKIE={{ n8n_secure_cookie }}
N8N_USER_MANAGEMENT_JWT_SECRET={{ n8n_user_management_jwt_secret }}
N8N_ENCRYPTION_KEY={{ n8n_encryption_key }}
N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS={{ n8n_enforce_settings_file_permissions }}
N8N_BLOCK_ENV_ACCESS_IN_NODE={{ n8n_block_env_access_in_node }}
N8N_BLOCK_FILE_ACCESS_TO_N8N_FILES={{ n8n_block_file_access_to_n8n_files }}
N8N_LOG_LEVEL={{ n8n_log_level }}
N8N_DIAGNOSTICS_ENABLED={{ n8n_diagnostics_enabled }}
N8N_VERSION_NOTIFICATIONS_ENABLED={{ n8n_version_notifications_enabled }}
N8N_TEMPLATES_ENABLED={{ n8n_templates_enabled }}
N8N_METRICS={{ n8n_metrics_enabled }}
N8N_INVITE_LINKS_EMAIL_ONLY={{ 'true' if (n8n_smtp_enabled | default(false) | bool) else 'false' }}
N8N_MFA_ENABLED=true
GENERIC_TIMEZONE={{ n8n_timezone }}
TZ={{ n8n_timezone }}
EXECUTIONS_DATA_PRUNE={{ n8n_executions_data_prune }}
EXECUTIONS_DATA_MAX_AGE={{ n8n_executions_data_max_age }}
EXECUTIONS_DATA_PRUNE_MAX_COUNT={{ n8n_executions_data_prune_max_count }}
EXECUTIONS_DATA_PRUNE_HARD_DELETE_INTERVAL={{ n8n_executions_data_prune_hard_delete_interval }}
EXECUTIONS_DATA_SAVE_ON_ERROR={{ n8n_executions_data_save_on_error }}
EXECUTIONS_DATA_SAVE_ON_SUCCESS={{ n8n_executions_data_save_on_success }}
EXECUTIONS_DATA_SAVE_ON_PROGRESS={{ n8n_executions_data_save_on_progress }}
EXECUTIONS_TIMEOUT={{ n8n_workflow_timeout }}
EXECUTIONS_TIMEOUT_MAX={{ n8n_workflow_timeout_max }}
N8N_DEFAULT_BINARY_DATA_MODE=filesystem
N8N_AVAILABLE_BINARY_DATA_MODES=filesystem
N8N_BINARY_DATA_STORAGE_PATH=/home/node/.n8n/binary-data
DB_TYPE=postgresdb
DB_POSTGRESDB_HOST=postgres
DB_POSTGRESDB_PORT={{ n8n_postgres_port }}
DB_POSTGRESDB_DATABASE={{ n8n_postgres_db }}
DB_POSTGRESDB_USER={{ n8n_postgres_user }}
DB_POSTGRESDB_PASSWORD={{ n8n_postgres_password }}
DB_POSTGRESDB_SCHEMA={{ n8n_postgres_schema }}
{% if n8n_smtp_enabled | default(false) | bool %}
N8N_EMAIL_MODE=smtp
N8N_SMTP_HOST={{ n8n_smtp_host }}
N8N_SMTP_PORT={{ n8n_smtp_port }}
N8N_SMTP_USER={{ n8n_smtp_user }}
N8N_SMTP_PASS={{ n8n_smtp_password }}
N8N_SMTP_SENDER={{ n8n_smtp_sender }}
N8N_SMTP_SSL=false
N8N_SMTP_STARTTLS=true
{% endif %}
N8N_SKIP_WEBHOOK_DEREGISTRATION_SHUTDOWN=true
N8N_PUSH_BACKEND=websocket
LETSENCRYPT_EMAIL={{ n8n_letsencrypt_email }}
STACK_NETWORK={{ n8n_stack_network }}
POSTGRES_DATA_PATH={{ n8n_db_volume_path }}
N8N_DATA_PATH={{ n8n_data_volume_path }}
DESIR_CRM_BASE_URL={{ desir_crm_base_url }}
DESIR_CRM_API_KEY={{ desir_crm_api_key }}
DESIR_APPROVAL_DIGEST_TO={{ desir_approval_digest_to }}
